body {
  background-color: #f8f9fa;
}

header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

section h2 {
  margin-bottom: 1rem !important;
  padding-bottom: 1rem;
}

#car-form {
  margin-top: 1rem !important;
}

form .form-label {
  font-weight: bold;
}

form .btn {
  width: 100%;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.car-item {
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  background-color: #e9ecef;

  border: 1px solid transparent;
  transition: border 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.car-item:hover {
  transform: scale(1.02);
  border: 1px solid #007bff;
  z-index: 2;
  background-color: #d8e9ff;
}

.modal-content,
.toast {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.toast-container {
  z-index: 9999;
  bottom: 1rem;
  right: 1rem;
}
